* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}

.container {
    width: 92%;
    margin: 0 auto;
}

body {
    min-height: 100vh;
    max-height: 200vh;
}

button {
    cursor: pointer;
    color: inherit;
}

ul {
    list-style: none;
}

/* !=====================================header================ */
#safe-iten,
.functions-item:nth-of-type(1) {
    display: none;
}

header {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, rgba(237, 33, 58, 1), rgba(147, 41, 30, 1));
    border-image-slice: 1;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.theme {
    width: 35px;
    height: 35px;
    background: url(./Crescent\ Moonmoon.png);
    background-size: 35px;
    background-repeat: no-repeat;
}

/*? =================================MAIN===================== =============*/
.screen-all {
    font-family: "Roboto", sans-serif;
    text-align: right;
}

.screen-two {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #646464;
    margin-top: 10px;
    height: 45px;
    width: 100%;
}

.screen {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    margin-top: 5px;
    height: 60px;
    width: 100%;

}

.functions {
    border-top: 2px solid rgba(130, 130, 130, 1);
    padding: 9px 0;
    margin-bottom: 20px;
}

.m {
    border-bottom: 2px solid rgba(130, 130, 130, 1);
}

/*27 bok niz19*/
.functions-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 329px;
    height: 405px;
    margin: 0 auto;
}

.operations {
    width: 64px;
    height: 64px;
    border: 2px solid rgba(130, 130, 130, 1);
    border-radius: 100%;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 19px;
    margin-right: 20px;
}

#equals {
    background: linear-gradient(142.46deg, #ED213A 17.09%, #700A00 83.84%);
    box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.7);
    border: none;
    color: white;
    font-size: 48px;
    margin-right: 0;
}

#plus,
#minus,
#division,
#multiplication {
    background: linear-gradient(135.2deg, #ED213A 16%, #000000 126.55%);
    border: none;
    color: white;
    font-size: 40px;
    margin-right: 0;
}

#reverse,
#power,
#factorial {
    background: #C4C4C4;
    font-size: 40px;
    color: white;
    border: none;
}

.powerIcon {
    display: flex;
    justify-content: space-around;
    width: 329px;
    flex-wrap: wrap;
    border-top: none;
    margin: 10px auto;

}

.btn-number {
    width: 64px;
    height: 64px;
    border: 2px solid rgba(130, 130, 130, 1);
    border-radius: 100%;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 19px;
    margin-right: 40px;
}

#powerNumberScreen {
    height: 40px;
    border-top: 2px solid rgba(130, 130, 130, 1);
    border-bottom: 2px solid rgba(130, 130, 130, 1);
    text-align: center;
    font-size: 35px;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

.power-icon-section {
    display: none;
    position: fixed;
    background: white;
    border-bottom: 2px solid rgba(130, 130, 130, 1);
    width: 100%;
    display: none;
}

/* =====================================footer=========================== */
footer {
    height: 33px;
    bottom: 0;
    width: 100%;

}

.copyright {
    text-decoration: none;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: inherit;
}

.copyright2 {
    text-align: center;
}

.border-change {
    border: 2px solid white;
}

.theme-change {
    color: white;
    background: #201A1A;
}

.color-change {
    color: white;
}

.change-icon {
    background-image: url(./Sunsun.png);
}

/*! //=====================================media =====================*/
@media(min-width: 768px) {
    header {
        align-items: center;
    }

    .name {
        font-size: 48px;
    }

    .theme {
        background-size: 60px;
        background-repeat: no-repeat;
        width: 60px;
        height: 60px;
    }

    .power-icon-section {
        display: none;
        width: 100%;
    }

    #powerNumberScreen {
        height: 78px;
        font-size: 60px;
    }

    .btn-number {
        width: 99.21px;
        height: 99.21px;
        font-size: 40px;

    }

    .powerIcon {
        width: 510px;
    }

    .screen-all {
        height: 132.5px;
        margin-bottom: 15px;
        margin-top: 40px;
    }

    .screen-two {
        height: 52.5px;
        font-size: 48px;
    }

    .screen {
        height: 70px;
        font-size: 72px;
    }

    .functions-list {
        width: 510px;
        height: 627.81px;
    }

    .operations {
        width: 99.21px;
        height: 99.21px;
        font-size: 40px;
    }

    #equals {
        font-size: 85px;
        margin-right: 0;
    }

    #plus,
    #minus,
    #division,
    #multiplication,
    #reverse,
    #power,
    #factorial {
        font-size: 55px;
    }

    .functions {
        padding: 30px 0 30px 0;
    }

    .copyright {
        font-size: 45px;
        margin-top: 0%;
    }

    #ok {
        background: linear-gradient(142.46deg, #ED213A 17.09%, #700A00 83.84%);
        box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.7);
        border: none;
        color: white;
        width: 100px;
        border-radius: 20px;
        text-transform: uppercase;
    }
}

@media(min-width:1200px) {
    .functions-list {
        width: 1005.21px;
        height: 333.76px;
        margin-right: 0;
        flex-direction: row;
        right: 0;
    }

    .functions-item {

        margin-right: 20px;
    }

    .operations {
        margin-right: 0px;
    }

    .functions-item:nth-of-type(1) {
        order: -6;
        margin-right: 20px;
        display: inline-block;
    }

    #safe {
        background: transparent;
        border: none;
    }

    .functions-item:nth-of-type(2) {
        order: -5;
        margin-right: 20px;
    }

    .functions-item:nth-of-type(3) {
        order: -5;
        margin-right: 30px;
    }

    .functions-item:nth-of-type(4) {
        order: -5;
        margin-right: 30px;
    }

    .functions-item:nth-of-type(5) {
        order: -5;
        margin-right: 30px;

    }

    .functions-item:nth-of-type(9) {
        order: -1;
        margin-right: 30px;

    }

    .functions-item:nth-of-type(13) {
        order: -1;
        margin-right: 30px;
    }

    .functions-item:nth-of-type(10) {
        order: 1;
        margin-right: 30px;
    }

    .functions-item:nth-of-type(11) {
        order: 1;
        margin-right: 30px;
    }

    .functions-item:nth-of-type(12) {
        order: 1;
        margin-right: 30px;
    }

    .functions-item:nth-of-type(13) {
        order: -5;
        margin-right: 30px;
    }

    .functions-item:nth-of-type(6) {
        order: 2;
        margin-right: 30px;
    }

    .functions-item:nth-of-type(7) {
        order: 2;
        margin-right: 30px;
    }

    .functions-item:nth-of-type(8) {
        order: 2;
        margin-right: 30px;
    }

    .functions-item:nth-of-type(17) {
        order: 2;
        margin-right: 30px;
    }

    .functions-item:nth-of-type(18) {
        order: 3;

    }

    .functions-item:nth-of-type(19) {
        order: 3;
        margin-right: 30px;
    }

    .functions-item:nth-of-type(20) {
        order: 3;
        margin-right: 30px;
    }

    .functions-item:nth-of-type(21) {
        order: 3;
        margin-right: 30px;
    }

    .functions-item:nth-of-type(14) {
        order: 3;
        margin-right: 30px;
    }

    .functions-item:nth-of-type(15) {
        order: 3;
        margin-right: 30px;
    }

    .functions-item:nth-of-type(16) {
        order: 3;
        margin-right: 30px;
    }

    #powerSection {
        background-color: white;
        z-index: 200;
    }

    .power-icon-section {
        height: 333.76px;
        width: 100%;
    }

    .powerIcon {
        width: 1005.21px;
    }

    #ok {
        background: linear-gradient(142.46deg, #ED213A 17.09%, #700A00 83.84%);
        box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.7);
        border: none;
        color: white;
        width: 100px;
        border-radius: 20px;
        text-transform: uppercase;
    }
}

#safe-item {
    border: none;
}

#ok {
    background: linear-gradient(142.46deg, #ED213A 17.09%, #700A00 83.84%);
    box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.7);
    border: none;
    color: white;
    width: 100px;
    border-radius: 20px;
    text-transform: uppercase;
}

#reversePower,
#minusThanZeroPower {
    background: #C4C4C4;
    border: none;
    color: white;
}

.story {
    background-image: url(./open-book.png);
}

.story-theme {
    background-image: url(./open-book\ \(1\).png);
}

.story-delete {
    display: none;
}


.story-screen-two {
    height: 52.5px;
    font-size: 48px;
    font-style: normal;
    font-weight: normal;
    line-height: 35px;
    color: #646464;
    margin-top: 10px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    text-align: right;
    padding-right: 4%;
}

.story-screen {
    height: 70px;
    font-size: 72px;
    font-style: normal;
    font-weight: normal;
    line-height: 56px;
    margin-top: 5px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    text-align: right;
    padding-right: 4%;
}

.history {
    display: none;
}

.history-item {
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 50px;
    font-style: normal;
    font-weight: normal;
    margin-top: 25px;
    padding-right: 5%;
}

.second-history {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #646464;
    margin-top: 10px;
    height: 45px;
    text-align: right;
}

.history-res {
    text-align: right;
    font-size: 45px;
}